{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom-modal.css' %}">

{% if messages %}
  {% for msg in messages %}
    <div id="modalCustom" class="col-lg-12 layout-spacing">
      <div class="statbox widget box box-shadow">
        <div id="myButton" data-toggle="modal" data-target="#profileModal"></div>
              <!-- Modal -->
              <div class="modal fade profile-modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <div class="modal-header justify-content-center" id="profileModalLabel">
                      <div class="modal-profile mt-4">
                          <img alt="avatar" src="{% static 'img/psb.jpg' %}" class="rounded-circle">
                      </div>
                    </div>
                    <div class="modal-body text-center">
                          <p class="mt-2">Hi, Suresh Babu</p>
                          <p class="mt-2">{{msg}}</p>
                    </div>
                    <div class="modal-footer justify-content-center mb-4">
                      <a type="button" href="{% url 'expns' %}" class="btn btn-light">View</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  {% endfor %}
{% endif %} 

{% if update == 'True' %}
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body"> 
        <h4 class="card-title">Expenses Form</h4>
          <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}              
              {% for field in form %}
               {% if field.label != 'Attach' %}
                <div class="form-group">
                  <label for="{{ field.label }}">{{ field.label }}</label>{{ field}}
                </div>
              {% endif %}
              {% endfor %}    
            </div>
         {{ form.Attach }}
          <div><button type="submit"  class="btn btn-sm btn-info">Submit</button> </div>                      
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body"> 
        <h4 class="card-title">Expenses Form</h4>
          <form class="forms-sample" action="{% url 'expform' %}" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}              
              {% for field in form %}
               {% if field.label != 'Attach' %}
                <div class="form-group">
                  <label for="{{ field.label }}">{{ field.label }}</label>{{ field}}
                </div>
              {% endif %}
              {% endfor %}    
            </div>
            {{ form.Attach }}
          <div><button type="submit"  class="btn btn-sm btn-info">Submit</button> </div>                      
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
window.onload = function () {
    document.getElementById('myButton').click()
}
</script>

{% endblock %}
